@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


// Services
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


// Navbar
.social_navbar {
    background-color: #1d1d1d;
    width: 100%;

    .container {
        .social_navbar_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .social_navbar_left {
                padding: 12px 0;
                a.social_navbar_header {
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
    
            .social_navbar_right {
                color: whitesmoke;
                list-style: none;
                margin: 0;
                display: flex;

                .navbar_icon {
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }

                    > a {
                        color: whitesmoke;
                        display: flex;
                        align-items: center;

                        span.material-symbols-outlined {
                            font-size: 20px;
                            margin-right: 5px;
                        }

                        @media screen and (max-width: 767px) {
                            span.text {
                                display: none;
                            }

                            span.material-symbols-outlined {
                                margin-right: 0;
                            }
                        }

                        &:hover {
                            color: darken($color: whitesmoke, $amount: 15);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

// Profile Badge
.social-profile-badge {
    display: flex;

    .avatar {
        width: 81px;
        margin-right: 20px;

        @media screen and (min-width: 767px) {
            & {
                width: 128px;
            }
        }
        
        img {
            border: 1px solid #1d1d1d15;
            border-radius: 4px;
        }
    }

    .meta {
        h4 {
            font-size: 22pt;
            margin: 0;
            margin-bottom: 8px;
        }

        .labels {
            margin-bottom: 15px;
        }
    }
}

// Post
.social_post {
    .panel-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;

            .avatar {
                width: 40px;
                margin-right: 13px;
            }
    
            .meta {
                display: flex;
                flex-direction: column;
            }
        }

        .right {
            .post_icon {
                margin-right: 15px;
                color: #1d1d1d;
                text-decoration: none;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@for $var from 1 to 6 {
    .mt-#{$var} {
        margin-top: 1rem * $var;
    }

    .mb-#{$var} {
        margin-bottom: 1rem * $var;
    }

    .ml-#{$var} {
        margin-left: 1rem * $var;
    }

    .mr-#{$var} {
        margin-right: 1rem * $var;
    }

    .mx-#{$var} {
        margin-left: 1rem * $var;
        margin-right: 1rem * $var;
    }

    .my-#{$var} {
        margin-top: 1rem * $var;
        margin-bottom: 1rem * $var;
    }
}